@model UserDashboardViewModel
@{
    ViewData["Title"] = "Index";
}

@*<meta http-equiv="refresh" content="10">*@

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width: 1400px;
        margin-top: 80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3 mt-2" style="display: inline-block">
            <!-- Profile -->
            @(await Html.RenderComponentAsync<Profile>(RenderMode.Server))
            <!-- Add and search friend -->
            <form method="post">
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container" style="padding-top: 10px">
                        <input type="text" asp-for="SearchFriend" id="searchNewFriend" class="form-control form-control-sm" placeholder="Search..." />
                        <div class="mb-3 mt-3">
                            <button type="submit" asp-controller="Home" asp-action="AddFriend" class="customButton-sm mr-1">
                                <i class="fas fa-plus-circle"></i>&nbsp;Add Friend
                            </button>
                            <button type="submit" asp-controller="Home" asp-action="FriendsViewProfile" class="customButton-sm">
                                <i class="fas fa-eye"></i>&nbsp;View Profile
                            </button>
                        </div>
                    </div>
                </div>
                <br>
            </form>

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">
            <form method="post">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="mt-2 mb-2">
                            <div class="alert alert-success alert-dismissible fade show" role="alert" id="SuccessAlert" style="display: none">
                                <strong>Well Done</strong> @ViewBag.SuccessMessage
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorAlert" style="display: none">
                                <strong>Oops</strong> @ViewBag.ErrorMessage
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <input type="text" asp-for="YourStory" class="w3-border form-control w3-padding"
                                       placeholder="Hi @Model.Name, Write your thought..." autocomplete="off" />
                                <button class="customButton-sm mr-1" asp-action="NewStory" asp-controller="Home">
                                    <i class="fas fa-external-link-square-alt"></i>&nbsp;<span style="font-size: 15px">Add Post</span>
                                </button>
                                <a asp-action="NewPost" asp-controller="Home" class="customButton-sm nav-link">
                                    <i class="fas fa-external-link-square-alt"></i>&nbsp;<span style="font-size: 15px">Create New Post</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            @(await Html.RenderComponentAsync<AllPosts>(RenderMode.Server))
            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2" style="display: inline-block">
            <div class="w3-card w3-round w3-white w3-center">
                <!-- Load New Friend Request Components Async -->
                @(await Html.RenderComponentAsync<NewFriendRequest>(RenderMode.Server))
            </div>
            <br>

            <div class="w3-card w3-round w3-white">
                <!-- Load All Friend List Components Async -->
                @(await Html.RenderComponentAsync<FriendsList>(RenderMode.Server))
            </div>
            <br />

            <div class="w3-card w3-round w3-white w3-center">
                <!-- Load Pending Request List Components Async -->
                @(await Html.RenderComponentAsync<PendingRequestList>(RenderMode.Server))
            </div>

            <!-- End Right Column -->
        </div>
    </div>
</div>

@section Scripts{
    @if (ViewBag.SuccessMessage == "" || ViewBag.SuccessMessage == null)
    {
        <script>
            $(document).ready(function () {
                $('#SuccessAlert').alert('close')
            })
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $('#SuccessAlert').show();
                $('#SuccessAlert').alert();
            })
        </script>
    }

    @if (ViewBag.ErrorMessage == "" || ViewBag.ErrorMessage == null)
    {
        <script>
            $(document).ready(function () {
                $('#errorAlert').alert('close')
            })
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $('#errorAlert').show();
                $('#errorAlert').alert();
            })
        </script>
    }
}
